<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Willkommen auf Escurriola.ch</h1>
    <p>Das ist eine einfache Testumgebung</p>
  </div>
</div>
<div class="container">
  Mehr folgt...
</div>
</body>
</html>
